@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

:root {
  --font-family: 'Merriweather', sans-serif;
  --font-weight-slim: 300;
  --primary-black: #161513;
  --primary-white: #f0f2f5;
  --text-margin: 1rem 0 0;
}
